---
import DotPattern from './dotPattern.astro';

interface Props {
	class?: string;
}
---

<div class:list={['item absolute inset-0', Astro.props.class]}>
	<div class="inner absolute inset-0 flex flex-col items-center justify-center">
		<div class="absolute h-[200%] w-[200%] inset-[-50%] translate-z-[-50px]">
			<DotPattern />
		</div>
		<div class="translate-z-10 scale-95">
			<slot />
		</div>
	</div>
</div>

<style lang="postcss">
	.item {
		perspective: 1000px;
	}
</style>

<style is:global>
	.item * {
		transform-style: preserve-3d;
	}
</style>
