---
import WebglCanvas from '@/components/WebglCanvas.astro';
import '../globals.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	import '@fontsource-variable/jetbrains-mono';
	import '@fontsource/space-mono';
	import '@fontsource-variable/tektur';

	import { query } from '@/utils/generalUtils';

	query.one('body')!.style.opacity = '1';
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />

		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
		<link rel="manifest" href="/favicon/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark bg-black text-foreground opacity-0 font-light">
		<slot />
	</body>
</html>
