---
import WebglCanvas from '@/components/WebglCanvas.astro';
import '../globals.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	import '@fontsource-variable/jetbrains-mono';
	import '@fontsource/space-mono';
	import gsap from 'gsap';
	import { queryFirst, timeout } from '../utils/generalUtils';
	import { scrollSmooth } from '../utils/scrollSmooth';
	import { SplitText } from 'gsap/SplitText';

	const scrollSmoother = scrollSmooth.init();

	// timeout(10).then(() => scrollSmoother.scrollTo(1300, false));
	// timeout(2000).then(() => scrollSmoother.scrollTo(0, true));

	// document.body.style.overflow = 'hidden';
	// timeout(2000).then(() => (document.body.style.overflow = 'auto'));

	gsap.registerPlugin(SplitText);

	// gsap.from(new SplitText('.nav', { type: 'chars' }).chars, {
	// 	duration: 1,
	// 	delay: 2,
	// 	y: '100%',
	// 	clipPath: 'inset(0 0 100% 0)',
	// 	ease: 'power4.out',
	// 	stagger: { each: 0.01 }
	// });

	queryFirst('body')!.style.opacity = '1';
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark bg-black text-foreground opacity-0 font-light">
		<slot />
	</body>
</html>
