---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<script>
	import gsap from 'gsap';
	import { queryFirst, timeout } from '../utils/generalUtils';
	import { initScrollSmooth } from '../utils/scrollSmooth';
	import { SplitText } from 'gsap/SplitText';

	const scrollSmoother = initScrollSmooth();

	scrollSmoother.scrollTop(0);

	document.body.style.overflow = 'hidden';
	timeout(2000).then(() => (document.body.style.overflow = 'auto'));

	queryFirst('#smooth-content')!.style.opacity = '1';

	gsap.registerPlugin(SplitText);

	gsap.from(new SplitText('.nav', { type: 'chars' }).chars, {
		duration: 1,
		delay: 2,
		y: '100%',
		clipPath: 'inset(0 0 100% 0)',
		ease: 'power4.out',
		stagger: { each: 0.01 }
	});
</script>

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-moneta">
		<nav
			class="nav fixed z-30 w-full flex justify-between p-4 text-sm uppercase text-white tracking-widest"
		>
			<h2 class="">Wytze Sligting</h2>
			<div>
				<p>+ Home</p>
				<p>Projects</p>
				<p>About</p>
			</div>
			<h2 class="">Let's talk</h2>
		</nav>
		<div id="smooth-wrapper">
			<div id="smooth-content" class="opacity-0">
				<slot />
			</div>
		</div>
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	body {
		background-color: black;
		color: white;
		overflow-x: hidden;
	}

	@font-face {
		font-family: 'Hero';
		font-weight: light;
		src: url('/fonts/hero/Hero-Light.otf') format('opentype');
	}
	@font-face {
		font-family: 'Hero';
		font-weight: normal;
		src: url('/fonts/hero/Hero-Regular.otf') format('opentype');
	}
	@font-face {
		font-family: 'Hero';
		font-weight: bold;
		src: url('/fonts/hero/Hero-Bold.otf') format('opentype');
	}

	@font-face {
		font-family: 'Archive';
		font-style: normal;
		src: url('/fonts/archive/Archive-Regular.otf') format('opentype');
	}

	@font-face {
		font-family: 'Stannum';
		font-weight: light;
		src: url('/fonts/stannum/Stannum-Light.otf') format('opentype');
	}

	@font-face {
		font-family: 'Stannum';
		font-weight: normal;
		src: url('/fonts/stannum/Stannum-Regular.otf') format('opentype');
	}

	@font-face {
		font-family: 'Stannum';
		font-weight: medium;
		src: url('/fonts/stannum/Stannum-Medium.otf') format('opentype');
	}

	@font-face {
		font-family: 'Stannum';
		font-weight: bold;
		src: url('/fonts/stannum/Stannum-Bold.otf') format('opentype');
	}

	@font-face {
		font-family: 'Moneta';
		src: url('/fonts/moneta/Moneta-Black.eot');
		src:
			local('Moneta Black'),
			local('Moneta-Black'),
			url('/fonts/moneta/Moneta-Black.eot?#iefix') format('embedded-opentype'),
			url('/fonts/moneta/Moneta-Black.woff2') format('woff2'),
			url('/fonts/moneta/Moneta-Black.woff') format('woff'),
			url('/fonts/moneta/Moneta-Black.ttf') format('truetype');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Moneta';
		src: url('/fonts/moneta/Moneta-Bold.eot');
		src:
			local('Moneta Bold'),
			local('Moneta-Bold'),
			url('/fonts/moneta/Moneta-Bold.eot?#iefix') format('embedded-opentype'),
			url('/fonts/moneta/Moneta-Bold.woff2') format('woff2'),
			url('/fonts/moneta/Moneta-Bold.woff') format('woff'),
			url('/fonts/moneta/Moneta-Bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Moneta';
		src: url('/fonts/moneta/Moneta-Regular.eot');
		src:
			local('Moneta'),
			local('Moneta-Regular'),
			url('/fonts/moneta/Moneta-Regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/moneta/Moneta-Regular.woff2') format('woff2'),
			url('/fonts/moneta/Moneta-Regular.woff') format('woff'),
			url('/fonts/moneta/Moneta-Regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Moneta';
		src: url('/fonts/moneta/Moneta-Light.eot');
		src:
			local('Moneta Light'),
			local('Moneta-Light'),
			url('/fonts/moneta/Moneta-Light.eot?#iefix') format('embedded-opentype'),
			url('/fonts/moneta/Moneta-Light.woff2') format('woff2'),
			url('/fonts/moneta/Moneta-Light.woff') format('woff'),
			url('/fonts/moneta/Moneta-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
</style>
