@font-face {
	font-family: 'Moneta';
	src: url('Moneta-Black.eot');
	src:
		local('Moneta Black'),
		local('Moneta-Black'),
		url('Moneta-Black.eot?#iefix') format('embedded-opentype'),
		url('Moneta-Black.woff2') format('woff2'),
		url('Moneta-Black.woff') format('woff'),
		url('Moneta-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moneta';
	src: url('Moneta-Bold.eot');
	src:
		local('Moneta Bold'),
		local('Moneta-Bold'),
		url('Moneta-Bold.eot?#iefix') format('embedded-opentype'),
		url('Moneta-Bold.woff2') format('woff2'),
		url('Moneta-Bold.woff') format('woff'),
		url('Moneta-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moneta';
	src: url('Moneta-Regular.eot');
	src:
		local('Moneta'),
		local('Moneta-Regular'),
		url('Moneta-Regular.eot?#iefix') format('embedded-opentype'),
		url('Moneta-Regular.woff2') format('woff2'),
		url('Moneta-Regular.woff') format('woff'),
		url('Moneta-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moneta';
	src: url('Moneta-Light.eot');
	src:
		local('Moneta Light'),
		local('Moneta-Light'),
		url('Moneta-Light.eot?#iefix') format('embedded-opentype'),
		url('Moneta-Light.woff2') format('woff2'),
		url('Moneta-Light.woff') format('woff'),
		url('Moneta-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
